@import "~normalize.css";
@import "fonts.scss";
@import "less.less";
@import "scss.scss";

body {
  font-family: Roboto, SansSerif;
}

.container {
  padding: 5rem;
  max-width: 1000px;
}

.title {
  color: blue;
}

.logo {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-image: url("../assets/img/vue-png.png");
}

.img {
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

.code {
  color: blue;
}
